body {
    margin: 0px 0px;
    padding: 0px;
    text-align: center;
}

div#main {
    width: 740px;
    margin: 0px auto;
    text-align: left;
    padding: 15px;
    border: 1px solid #000000;
    background-color: #eeeeee;
}

div#logo 
{
    background-color: Aqua;
}

image
{
    border: 0;    
}

.fangst
{
    border-left: 1px solid black;
    border-top: 1px solid black;
    margin: 0 0 5px 0;
}

td
{
    padding: 0 2 2 2;
}
table
{
   
}
.thumbnail
{
    width: 120px;
    vertical-align: top;
}
.kommentar
{
    vertical-align: top;
}
.detail
{
    width: 80px;
    height: 20px;
    vertical-align: top;
}
.numericdetail
{
    width: 80px;
    text-align: right;
    vertical-align: top;
}
